/* CSS */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    background-color: #D6DBDF;
}

#container {
    max-width: 660px;
    margin: 0 auto 20px;
}

#vdo {
    text-align: center;
    margin: 10px auto 0;
    height: 480px;
    width: 640px;
    background-color: gray;
}

#output {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    width: 400px;
    top: 430px;
    left: 50%;
    margin-left: -200px;
    text-align: center;
    padding: 7px;
    border-radius: 5px;
}

#output span {
    font-weight: bold;
    color: #ca2609;
}

#controls {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

#preview {
    display: none;
}

#classOne, #classTwo {
    background-color: #aebeb4;
    padding: 7px;
    box-sizing: border-box;
    margin: 10px 0;
    border-radius: 3px;
    width: 49%;
}

#classOneGallery, #classTwoGallery {
    height: 100px;
    width: 100%;
    overflow-y: auto;
    border: 3px dashed #909497;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 10px;
    display: flex;
}

#classOneGallery img, #classTwoGallery img {
    width: 75px;
    object-fit: contain;
    margin: 3px;
    display: block;
}

button {
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px 0px #566573;
    padding: 7px 25px;
    cursor: pointer;
    background-color: #2E86C1;
    color: white;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
    background-color: #0c93ec;
}

#trainingBtn {
    background-color: #117864;
    display: block;
    margin: 0 auto;
}

#trainingBtn:hover {
    background-color: #0fb190;
}

#predictBtn {
    background-color: #D35400;
    display: block;
    padding: 7px 40px;
    margin: 0 auto;
}

#predictBtn:hover {
    background-color: #fc8231;
}





#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay h3 {
    color: white;
    margin-left: 15px;
}





.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}